.btnn {
    margin-top: 30px;
    border: 3px solid rgba(0, 0, 0, 0.444);
    font-size: 1.5rem;
    height: 50px;
    width: 12rem;
    border-radius: 25px;
    transition: 0.6s;
}

.btnn:hover {
    background-color: rgb(236, 184, 165);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.title {
    font-size: 3rem;
}

.clock {
    font-size: 100px;
}

.container_block {
    height: 100vh;
    justify-content: center;
    font-family: "Fredoka", sans-serif;
    text-align: center;
}

.start-timer {
    display: flex;
    justify-content: center;
}

.pop_up {
    border: 2px solid rgba(255, 153, 0, 0.418);
    opacity: 0.8;
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

#alarm-icon {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 20px;
}

#alarm-popup {
    position: fixed;
    top: 30%;
    right: 5%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1001;
}

#custom-time-inputs {
    display: flex;
    justify-content: space-between;
}

#custom-time-inputs input {
    flex: 1;
    margin-right: 10px;
}

#custom-time-inputs input:last-child {
    margin-right: 0;
}

@media (max-width: 767px) {
    .btnn {
        font-size: 1rem;
        height: 40px;
        width: 10rem;
    }

    .title {
        font-size: 2rem;
    }

    .clock {
        font-size: 50px;
    }

    #custom-time-inputs {
        flex-direction: column;
    }

    #custom-time-inputs input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #custom-time-inputs input:last-child {
        margin-bottom: 0;
    }
}